# Ignore Bundler files
/.bundle

# Ignore compiled files
/**/*.gem

# Ignore temporary files
*.swp
*.swo

# Ignore node_modules
/node_modules

# Ignore log files
/log/*.log

# Ignore sensitive files
/config/*.yml